.config/btop/btop.conf
.config/btop/btop.log

.config/nvim/plugin
.config/zsh/zshistory

*.o
*.orig
*.rej

blocks.h
config.h

src/dwm/dwm
src/dwmblocks/dwmblocks
src/st/st
src/dmenu/dmenu

src/dmenu/stest

.config/gtk-3.0/bookmarks

.config/ranger/plugins/__init__.py
.config/ranger/plugins/__pycache__/
